@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

body {
  background-color: #acb7ae;
}

h2 {
  color: #232322;
  text-align: center;
  margin: 0 0 2em;
  font-family: 'Cormorant Garamond', serif;
}

.container {
  display: flex;
  background-color: #c2b490;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  background-color: #acb7ae;
  width: 28%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px #232322;
}

h5 {
  color: #232322;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}

p {
  color:darkslategrey;
  font-size: .9rem;
}

img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}